<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="../static/style.css">
  <title>Pocket Recipes</title>
</head>
<body>
<div class="container">
  <form action="/submit" method="POST">
    <div class="form-group">
      <h3>Paste Recipe URL</h3>
      <input type="text" name="recipe_source" placeholder="Recipe URL" />
    </div>
    <input type="submit" value="Submit" class="btn" />
  </form>
  {% if message %}
  <p class="message">Successfully saved: {{ message | safe }}</p>
  {% endif %}
</div>
</body>
</html>